{% extends "::base.html.twig" %}
{% block body %}
    <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <div class="container">
        <div class="row">
            <div class="col m6 s12">
                <h1 class="title"><span class="title">Susikurkite savo meniu </span>arba išbandykite pačius populiariausius</h1>
            </div>
        </div>
        <div class="row">
            <div class="menu-table">
                <div class="col s12 m7">
                    <div class="table" id="scroll">
                        <ul id="sort" class="connected menu">
                            <li class="menu">
                                <img src="http://www.novum.lt/pics/recipes/kalakutienos_kotletai.jpg" class="menu-img">
                                <p class="menu-name">Kotletai</p>
                                <input type="number" class="portion" value="4">
                                <label class="portion">porcijos</label>
                                <button class="action"><img src="{{ asset('images/icons/change.png') }}" class="action"></button>
                                <button class="action"><img src="{{ asset('images/icons/delete.png') }}" class="action"></button>
                            </li>
                            <li class="menu">
                                <img src="http://www.novum.lt/pics/recipes/kalakutienos_kotletai.jpg" class="menu-img">
                                <p class="menu-name">Kotletai</p>
                                <input type="number" class="portion" value="4">
                                <label class="portion">porcijos</label>
                                <button class="action"><img src="{{ asset('images/icons/change.png') }}" class="action"></button>
                                <button class="action"><img src="{{ asset('images/icons/delete.png') }}" class="action"></button>
                            </li>
                            <li class="menu">
                                <img src="http://3.bp.blogspot.com/-cSCrmWbi3lw/TuPJo9B1jyI/AAAAAAAABOU/F1irL8fqLrc/s1600/Mork%25C5%25B3+pyragas+su+rie%25C5%25A1utais+2.jpg" class="menu-img">
                                <p class="menu-name">Kotletai</p>
                                <input type="number" class="portion" value="4">
                                <label class="portion">porcijos</label>
                                <button class="action"><img src="{{ asset('images/icons/change.png') }}" class="action"></button>
                                <button class="action"><img src="{{ asset('images/icons/delete.png') }}" class="action"></button>
                            </li>
                        </ul>
                        <ul id="sort1" class="connected menu">
                            <li class="menu">
                                <img src="http://www.novum.lt/pics/recipes/kalakutienos_kotletai.jpg" class="menu-img">
                                <p class="menu-name">Kotletai</p>
                                <input type="number" class="portion" value="4">
                                <label class="portion">porc.</label>
                                <button class="action"><img src="{{ asset('images/icons/change.png') }}" class="action"></button>
                                <button class="action"><img src="{{ asset('images/icons/delete.png') }}" class="action"></button>
                            </li>
                            <li class="menu">
                                <img src="http://www.novum.lt/pics/recipes/kalakutienos_kotletai.jpg" class="menu-img">
                                <p class="menu-name">Kotletai su mesa</p>
                                <input type="number" class="portion" value="4">
                                <label class="portion">porc.</label>
                                <button class="action"><img src="{{ asset('images/icons/change.png') }}" class="action"></button>
                                <button class="action"><img src="{{ asset('images/icons/delete.png') }}" class="action"></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col m5 s12">
                    <form class="settings">
                        <div class="block">
                            <a href="#modal1" id="kcalclick"><label class="settings activate">Dienos kalorijų norma</label></a>
                            <input type="number" class="settings" id="kcal" maxlength="4" value="2225">
                            <span id="kcalf"> kcal</span>
                        </div>
                        <div class="block">
                            <label class="settings">Dienų skaičius <span id="days">16</span></label>
                            <p class="range-field">
                                <input type="range" id="daysCount" min="1" max="30" onchange="updateDays()" />
                            </p>
                        </div>
                        <div class="block">
                            <label class="settings">Dienų skaičius <span id="meal">3</span></label>
                            <p class="range-field">
                                <input type="range" id="mealTime" min="1" max="5" onchange="updateCount()" />
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}