{% extends "::base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="title">
                <h1 class="title">Susikurkite savo meniu</h1>
            </div>
        </div>
        <div class="row">
            <div class="menu-table">
                <div class="col s12 m7">
                    <div class="table" id="scroll">
                        <ul id="sort" class="connected menu">
                            <li class="menu">
                                <img src="http://www.novum.lt/pics/recipes/kalakutienos_kotletai.jpg" class="menu-img">
                                <p class="menu-name">Kotletai</p>
                                <input type="number" class="portion" value="4">
                                <label class="portion">porcijos</label>
                                <button class="action"><img src="{{ asset('images/icons/change.png') }}" class="action"></button>
                                <button class="action"><img src="{{ asset('images/icons/delete.png') }}" class="action"></button>
                            </li>
                            <li class="menu">
                                <img src="http://www.novum.lt/pics/recipes/kalakutienos_kotletai.jpg" class="menu-img">
                                <p class="menu-name">Kotletai</p>
                                <input type="number" class="portion" value="4">
                                <label class="portion">porcijos</label>
                                <button class="action"><img src="{{ asset('images/icons/change.png') }}" class="action"></button>
                                <button class="action"><img src="{{ asset('images/icons/delete.png') }}" class="action"></button>
                            </li>
                            <li class="menu">
                                <img src="http://www.novum.lt/pics/recipes/kalakutienos_kotletai.jpg" class="menu-img">
                                <p class="menu-name">Kotletai</p>
                                <input type="number" class="portion" value="4">
                                <label class="portion">porcijos</label>
                                <button class="action"><img src="{{ asset('images/icons/change.png') }}" class="action"></button>
                                <button class="action"><img src="{{ asset('images/icons/delete.png') }}" class="action"></button>
                            </li>
                        </ul>
                        <ul id="sort1" class="connected menu">
                            <li class="menu">
                                <img src="http://www.novum.lt/pics/recipes/kalakutienos_kotletai.jpg" class="menu-img">
                                <p class="menu-name">Kotletai</p>
                                <input type="number" class="portion" value="4">
                                <label class="portion">porcijos</label>
                                <button class="action"><img src="{{ asset('images/icons/change.png') }}" class="action"></button>
                                <button class="action"><img src="{{ asset('images/icons/delete.png') }}" class="action"></button>
                            </li>
                            <li class="menu">
                                <img src="http://www.novum.lt/pics/recipes/kalakutienos_kotletai.jpg" class="menu-img">
                                <p class="menu-name">Kotletai su mesa</p>
                                <input type="number" class="portion" value="4">
                                <label class="portion">porcijos</label>
                                <button class="action"><img src="{{ asset('images/icons/change.png') }}" class="action"></button>
                                <button class="action"><img src="{{ asset('images/icons/delete.png') }}" class="action"></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col m5 s12">
                    <form class="settings">
                        <div class="block">
                            <label class="settings activate">Dienos kalorij킬 norma</label>
                            <input type="number" class="settings" id="kcal" maxlength="4" value="2225">
                            <p class="value">kcal</p>
                        </div>
                        <div class="block">
                            <label class="settings">Dien킬 skai훾ius</label>
                            <input type="number" class="settings num" max="7" id="sk" value="7">
                        </div>
                        <div class="block">
                            <label class="settings">Valgym킬 kartai dienoje</label>
                            <input type="number" class="settings num" max="5" id="sk1" value="3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a class="waves-effect waves-light btn" href="#modal1">Modal</a>

        <!-- Modal Structure -->
        <a class="waves-effect waves-light btn" href="#modal1">Modal</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal bottom-sheet">
            <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>

            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
    <script src="{{ asset('js/jquery.ui.touch-punch.min.js') }}"></script>
    <script>
        $(".button-collapse").sideNav();
        $('#sort').sortable();
        $('#sort1').sortable();
    </script>
    <script>
        $(function() {
            $( "#sort, #sort1" ).sortable({
                connectWith: ".connected"
            }).disableSelection();
        });

    </script>
    <script>
        $("ul").on("click", "button", function(e) {
            e.preventDefault();
            $(this).parent().remove();
        });
    </script>
    <script>
        var myInput = document.getElementById('sk');
        myInput.oninput = function () {
            if (this.value.length > 1) {
                this.value = this.value.slice(0,1);
            }
        };
        var myInput = document.getElementById('sk1');
        myInput.oninput = function () {
            if (this.value.length > 1) {
                this.value = this.value.slice(0,1);
            }
        };
        var myInput = document.getElementById('kcal');
        myInput.oninput = function () {
            if (this.value.length > 4) {
                this.value = this.value.slice(0,4);
            }
        };
    </script>
    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });
        $('#modal1').modal('open');
    </script>
{% endblock %}